html {
box-sizing: border-box ;
--parent-height : 20em ;
--duration-text-wrap: 5s 1.5s cubic-bezier(0.82, 0.82, 1, 1.01) ;
--duration: 1s ;
--cubic-header: var(--duration) cubic-bezier(0.71, 0.21, 0.3, 0.95) ;
--cubic-slider : var(--duration) cubic-bezier(0.4, 0, 0.2, 1) ;
--cubic-play-list : .15s var(--duration) cubic-bezier(0, 0.85, 0.11, 1.64) ;
--cubic-slider-context : cubic-bezier(1, -0.01, 1, 1.01) ;
} 
html *,
html *::before,
html *::after {
box-sizing: inherit;
scrollbar-width: none ;
}
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	color: #fff;
	background: url(./src/assets/icones/backgrounds/bg0.jpg);
	background-size: 100%;
}
#palco{
	display: flex;
	flex-direction: row;
	position: absolute;
	gap: 8rem;
	padding: .4rem;
	flex-wrap: wrap;
}
.copo{
	display: flex;
	flex-direction: column-reverse;
	position: absolute;
	align-items: center;
	justify-items: center;
	height: 12.8em;
	width: 4em;
	left: 8em;
	z-index: 10000;
	background-color: transparent;
	border: 1px solid #fff;
	border-end-end-radius: 10rem;
	border-end-start-radius: 10rem;
}
.copo0, .copo7{
	left: 2em;
}
.copo1, .copo8{
	left: 8em;
}
.copo2, .copo9{
	left: 14em;
}
.copo3, .copo10{
	left: 20em;
}
.copo4, .copo11{
	left: 26em;
}
.copo5, .copo12{
	left: 32em;
}
.copo6, .copo13{
	left: 38em;
}
.copo7, .copo8, .copo9, .copo10, .copo11, .copo12, .copo13{
	top: 18em; 
}
.color{
	width: 100%;
	height: 3em;
}
.c0{
	border-end-end-radius: 10rem;
	border-end-start-radius: 10rem;
}
.isMoving{
	display: flex;
	flex-direction: row;
	position: absolute;
	width: 12.8em;
	height: 4em;
	z-index: 100000;
	background-color: transparent;
	border: 1px solid #fff;
	border-top-left-radius: 10rem;
	border-bottom-left-radius: 10rem;
	border-end-end-radius: 0;
	border-end-start-radius: 10rem;
}
.isMoving .color{
	width: 3em;
	height: 4em;
}
.isMoving .c0{
	border-top-left-radius: 10rem;
	border-end-end-radius: 0rem;
	border-end-start-radius: 10rem;
}
button{
	background: blue;
	color: #fff;
	border-radius: .8em;
	height: 4em;
	width: 6em;
}

@media(min-width: 800px){
#palco{
	width: 600px;
	height: 500px;
	margin-top: 2rem;
	margin-left: -2.8rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


}

@media(max-width: 780px){
#palco{
	width: 100%;
	top: 10%;
	left: 20%;
	transform: translate(-20%, -10%); 	
}
.copo0, .copo4, .copo8, .copo12{
	left: 2em;
}
.copo1, .copo5, .copo9, .copo13{
	left: 8em;
}
.copo2, .copo6, .copo10, .copo14{
	left: 14em;
}
.copo3, .copo7, .copo11{
	left: 20em;
}

.copo4, .copo5, .copo6, .copo7{
	top: 15em; 
}
.copo8, .copo9, .copo10, .copo11{
	top: 20em; 
}
.copo12, .copo13, .copo14{
	top: 60em; 
}

}
